// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bg {
    background-image: url('../assets/imgs/bg.png');
    background-size: cover;
}

// hapus bayangan pada header
.md {
    ion-header {
      &.no-shadow::after {
        background-image: none;
      }
    }
  
    ion-toolbar,
    ion-navbar {
      .button,
      .button.activated {
        box-shadow: none;
      }
    }
  }
  
  .ios {
    ion-list ion-item,
    .list-hotels .hotel-bg {
      pointer-events: none;
    }
  }
  
  // google
  .google-map {
    height: 160px;
    pointer-events: none;
    margin: 0 -20px;
  }
  
  // Animasi
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .animated.hinge {
    animation-duration: 2s;
  }
  
  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: .75s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, +100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInUp {
    animation-name: fadeInUp;
  }

  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(-100%, 0 , 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInRight {
    animation-name: fadeInRight;
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translate3d(+100%, 0 , 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInLeft {
    animation-name: fadeInLeft;
  }
  