<!--
  Generated template for the DepositPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>
            Deposit
            <ion-icon name="log-out" (click)="logout()" style="float:right"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url('assets/imgs/bg.png');background-size: cover">
    <!-- Check saldo -->
    <ion-card>
        <ion-card-content>
            <p align=right>Saldo : {{ saldo }}</p>
        </ion-card-content>
    </ion-card>

    <!-- Buat Virtual Account -->
    <ion-card *ngIf="divVA==false">
        <ion-card-content>
            <p>Vitual Account Deposit</p>
            <h3>Halaman page-deposit</h3>
            <p>Tekan tombol "Buat Virtual Account" untuk melakukan deosit di aplikasi kami</p>
            <button ion-button block color="primary" (click)="cekVA()">Buat Virtual Account</button>
        </ion-card-content>
    </ion-card>

    <!-- Buat Virtual Account -->
    <ion-card *ngIf="divVA==true">
        <ion-card-content>
            <p><b>List Bank Virtual Account Anda</b></p>
            <p>Anda bisa transfer ke salah satu nomor rekening berikut:</p>

            <ion-item-group *ngFor="let item of dataVA">
                <ion-item>
                    <p>Bank : {{item.bank_name}}</p>
                    <p>Nomor VA : {{item.va_no}}</p>
                </ion-item>
            </ion-item-group>
        </ion-card-content>
    </ion-card>

</ion-content>