<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="List Pembayaran" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="Deposit" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Profil" tabIcon="contacts"></ion-tab>
</ion-tabs>
