<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content fullscreen padding class="bg animated fadeInLeft">
    <div padding text-center >
        <div padding-horizontal text-center style="margin-top:10%">
            <div class="logo"><img src="assets/imgs/twit.png" width=120 height=120></div>
            <h2 ion-text class="text-primary">
                <strong>TWITS</strong>
            </h2>
        </div>
    </div>
    <ion-item>
        <ion-label floating>
            <ion-icon name="person" item-start class="text-primary"></ion-icon>
            Nama lengkap
        </ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary"></ion-icon>
            Email
        </ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>
            <ion-icon name="card" item-start class="text-primary"></ion-icon>
            Nomor Identitas
        </ion-label>
        <ion-input type="text" [(ngModel)]="identity_no"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>
            <ion-icon name="call" item-start class="text-primary"></ion-icon>
            Nomor handphone
        </ion-label>
        <ion-input type="text" [(ngModel)]="phone_no"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>
            <ion-icon name="lock" item-start class="text-primary"></ion-icon>
            Ulangi password
        </ion-label>
        <ion-input type="password" [(ngModel)]="password2"></ion-input>
    </ion-item>



    <div margin-top>
        <button ion-button block color="secondary" tappable (click)="register()">
                <ion-icon name="person-add"></ion-icon> Register
        </button>
    </div>

</ion-content>