<!--style="background-image: url('assets/imgs/bg');background-size: cover"
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content fullscreen padding class="bg">
    <div>
        <div padding-horizontal text-center style="margin-top:10%">
            <div><img src="assets/imgs/twit.png" width=120 height=120></div>
            <h2 ion-text class="text-primary">
                <strong>TWITS</strong>
            </h2>
        </div>
        <ion-item>
            <ion-label floating>
                <ion-icon name="mail" item-start class="text-primary"></ion-icon>
                Email
            </ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <ion-icon name="lock" item-start class="text-primary"></ion-icon>
                Password
            </ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>


        <div>
        </div>



        <ion-grid>
            <ion-row>
                <ion-col col-6 >
                    <button ion-button icon-sign color="secondary" tappable (click)="register()" block>
                        <ion-icon name="person-add"></ion-icon> &nbsp;Register
                    </button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button icon-start color="primary" tappable (click)="login()" block>
                        <ion-icon name="log-in"></ion-icon>Login
                    </button>
                </ion-col>
            </ion-row>

        </ion-grid>
        <p text-center ion-text color="danger" tappable (click)="lupaPassword()" warning>Lupa password?</p>

        <button ion-button icon-start color="secondary" tappable (click)=" pageReload()" block>
          <ion-icon name="log-in"></ion-icon>reload
      </button>

    </div>
</ion-content>
