<ion-header>
    <ion-navbar>
        <ion-title>
            Home
            <ion-icon name="log-out" (click)="logout()" style="float:right"></ion-icon>
        </ion-title>
    </ion-navbar>
</ion-header>



<ion-content padding style="background-image: url('assets/imgs/bg.png');background-size: cover">
    <!-- Check saldo -->
    <ion-card>
        <ion-card-content>
            <p align=right>Saldo : {{ saldo }}</p>
        </ion-card-content>
    </ion-card>

    <!-- Daftar produk -->
    <ion-card>
        <ion-card-header>
            PULSA
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/pulsa.jpg" alt="Paket Pulsa"> Paket Pulsa
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/paketdata.jpg" alt="Paket Data"> Paket Data
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/pulsapasca.jpg" alt="Pasca bayar"> Pasca bayar
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            PEMBAYARAN
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/listrik.jpg" alt="Tagihan Listrik"> Tagihan Listrik
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/pam.jpg" alt="Tagihan Air"> Tagihan Air
                        </div>

                    </ion-col>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/kredit.jpg" alt="Angsuran Kredit"> Angsuran Kredit
                        </div>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/zakat.jpg" alt="Bayar Zakat"> Bayar Zakat
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/emoney.jpg" alt="Uang Elektronik"> Uang Elektronik
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/game.jpg" alt="Voucher Game"> Voucher Game
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/telkom.jpg" alt="Telkom"> Telkom
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/tvkabel.jpg" alt="TV Kabel"> TV
                        </div>
                    </ion-col>
                    <ion-col size="4">
                        <div class="produk">
                            <img src="assets/imgs/gambar/bpjs.jpg" alt="BPJS"> BPJS
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>