<!--
  Generated template for the LupapasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content fullscreen padding>
    <div padding text-center>
        <div class="logo"></div>
        <h2 ion-text class="text-primary">
            <strong>LUPA PASSWORD</strong>
        </h2>
    </div>
    <ion-card>
        <ion-card-content>
            <p>Pemulihan password telah dikirmkan ke email Anda.</p>
            <p></p>
            <p></p>
            <div text-center margin-top>
                <span ion-text color="secondary" tappable (click)="login()">Login</span>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>